mixin form()
  .form
    h2.visually-hidden Параметры генератора
    ul.form__list
      li.form__item
        label.form__control
          input.visually-hidden.form__input(type="radio", name="letter-count", value=3, checked)
          span.form__mark-radio
          span.form__label 3
      li.form__item
        label.form__control
          input.visually-hidden.form__input(type="radio", name="letter-count", value=4)
          span.form__mark-radio
          span.form__label 4
    .form__text символа
    ul.form__list
      li.form__item
        label.form__control
          input.visually-hidden.form__input(type="radio", name="word-count", value=3, checked)
          span.form__mark-radio
          span.form__label 3
      li.form__item
        label.form__control
          input.visually-hidden.form__input(type="radio", name="word-count", value=4)
          span.form__mark-radio
          span.form__label 4
    .form__text слова
    +btn({text: "Генерировать", type:"button"}).form__button.form__button--generate
    +btn({text: "Скопировать", type:"button"}).form__button.form__button--copy
    div.form__output
