doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="ProjectName — описание")
    //- генерируйте favicon тут - https://realfavicongenerator.net/
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"
    link(rel="preload", href="/fonts/Montserrat-Bold.woff2", as="font")
    link(rel="preload", href="/fonts/Montserrat-SemiBold.woff2", as="font")
    link(rel="preload", href="/fonts/Montserrat-Medium.woff2", as="font")
    link(rel="preload", href="/fonts/Montserrat-Regular.woff2", as="font")
    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
